$first: #304d30;
$second: #346220;
$third: #f6e96b;
$fourth: #ff9100;
$fifth: #4ee00f;

$edit-color: #ffc107; /* Yellow for edit */
$download-color: #28a745; /* Green for download */
$upload-color: #17a2b8; /* Blue for upload */
$delete-color: #dc3545; /* Red for delete */
$primary-color: #333; /* Default icon color */
$hover-color: #555; /* Icon color on hover */
